{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm mt-5">
            <div class="card-body p-4">
                <h3 class="text-center text-success mb-4">Acesse sua Conta</h3>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-success btn-lg">Entrar</button>
                    </div>
                </form>
                
                <hr>
                <div class="text-center">
                    <p class="mb-1">Não tem uma conta?</p>
                    <a href="{% url 'register_cliente' %}" class="btn btn-sm btn-outline-primary">Criar Conta Pessoal</a>
                    <a href="{% url 'register_parceiro' %}" class="btn btn-sm btn-outline-dark">Criar Conta Empresarial</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
