footer {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
    height: auto;
}

#footer-vector {
    margin-bottom: -4px; 
    max-width: 100%;
    height: auto;
}

#footer-container {
    margin: 0;
    background-color: #77B255;
}

#footer-container div {
    display: flex;
}

#footer-lists {
    justify-content: space-around;
    align-items: center;
}

#social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.social-media-item {
    margin: 10px;
}
.social-media-item a img {
    width: 50px;
}

#footer-nav {
    display: flex;
    padding: 0;
    text-align: center;
    list-style: none;
}
.footer-nav-item {
    margin: 10px;
    margin-bottom: 15px;
}
.footer-nav-item a {
    transition: all 100ms ease-in;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin: 10px;
}
.footer-nav-item a:hover {
    transition: all 100ms ease-in;
    color: #c7ffa7;
}

#footer-info {
    justify-content: space-between;
}
#footer-info h6 {
    margin: 0 20px 10px 20px;
    color: #427724;
}
