h1 a {
    display: flex;
    align-items: center;
    height: 100%;
}
#main-logo {
    width: 150px;
    padding: 10px;
    margin-left: 8px;
    max-width: 120px;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;                
    align-items: center;
    justify-content: space-between;
    background-color: #77B255;
    height: 75px;
    box-shadow: 0 0 10px -3px;
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: end;
    margin: 15px;
    width: 100%;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 800px;
    padding: 0;
}

.nav-item {
    transition: all 200ms ease-in;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 500;
    line-height: 75px;
    margin: 0;
}
.nav-item:hover {
    transition: all 200ms ease-in;
    font-size: 18px;
    background-color: #60A640;
}

.nav-item a {
    width: 100%;
    color: #fff;
    text-decoration: none;
}

#user-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
    min-width: 252px;
    z-index: 2;
}

#user-div a {
    transition: all 200ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    margin: 8px;
    width: 100px;
    height: 40px;
}
#user-div a:hover {
    transition: all 200ms ease-in;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    font-size: 20px;
}

#singin-button {
    transition: all 200ms ease-in;
    background-color: #fff;
    color: #77B255;
}

#login-button {
    transition: all 200ms ease-in;
    background-color: #D0FF00;
    color: #60A640;
}

#logged-user-click {
    transition: all 200ms ease-in;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 55px;
    border-radius: 50px;
    padding-left: 10px;
    width: 200px;
    color: #60A640;
    background-color: #D0FF00;
    cursor: pointer;
}
#logged-user-click:hover {
    transition: all 200ms ease-in;
    background-color: #fff;
}

#user-box {
    position: absolute;
    right: 68px;
    justify-content: space-between;
    width: 170px;
    padding: 15px 15px 6px 15px;
    border-radius:  0 0 20px 20px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 10px -3px;
    z-index: 1;
}#user-box:hover {
    background-color: #f5f5f5;
}
#user-box img {
    height: 20px;
}
#user-box ul {
    list-style: none;
}
.mouseIn {
    animation-name: userBoxIn;
    animation-duration: 100ms;
    top: 56px;
    display: flex;
}
.mouseOut {
    animation-name: userBoxOut;
    animation-duration: 100ms;
    display: none;
    top: 30px;
}
@keyframes userBoxIn {
    from {top: 30px;}
    to {top: 56px;}
}
@keyframes userBoxOut {
    from {top: 56px;}
    to {top: 30px;}
}

#user-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-name img {
    height: 15px;
    margin-right: 8px;
}

.header-icon {
    height: 40px;
    margin-right: 8px;
}
