#footer-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-add a {
    transition: all 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    margin: 8px;
    width: 210px;
    height: 80px;
    background-color: #D0FF00;
    color: #60A640;
}
#footer-add a:hover {
    transition: all 100ms ease-in;
    background-color: #fff;
    color: #60A640;
}
#footer-add h3 {
    font-size: 25px;
    font-weight: 200;
    color: #fff;
}

#top-container {
    display: flex;
    justify-content: center;
}
#index-img {
    width: 80%;
}

#como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#como-funciona h3 {
    color: #77B255;
    font-size: 46px;
}

#como-funciona-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#como-funciona-content img {
    margin-right: 8%;
    max-height: 90vh;
}

.como-funciona-section {
    display: flex;
    align-items: center;
    width: 800px;
}
.numb-display {
    margin: 0 20px 0 0;
    font-size: 300px;
    color: #77B255;
    font-weight: 800;
}
.como-funciona-p p {
    font-size: 32px;
    font-weight: 300;
}
.como-funciona-p h4 {
    font-size: 54px;
    font-weight: 200;
    color: #77B255;
    margin: 0;
}