body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #4FC54C, #333F8D);
}

main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
} h1 a {
    margin-top: 40px;
    width: 40%;
    height: auto;
} #main-logo {
    width: 100%;
}

#fields {
    transition: all 300ms ease-in;
    max-width: 510px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 255);
    border-radius: 40px;
    background-color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} footer div {
    display: flex;
    justify-content: center;
    width: 100%;
} footer div h6 {
    margin: 0 10px 10px 10px;
    color: #fff;
    font-weight: 200;
}

h2 {
    margin-top: 40px;
    font-size: 38px;
    color: #77B255;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    transition: all 200ms ease-in;
    width: 72%;
    height: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
    background-color: #77B255;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
} .button:hover,
.button:focus {
    transition: all 200ms ease-in;
    background-color: #8ec96d;
    outline: 0;
    box-shadow: 0 0 10px -2px #77B255;
    cursor: pointer;
}
.button-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.button-input .button {
    margin-bottom: 5px;
}
.button-label {
    margin-bottom: 30px;
    cursor: auto;
}
#choose-form a {
    text-decoration: none;
}
#choose-form a input {
    margin-top: 0;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    cursor: pointer;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 68%;
    margin-right: 4%;
} .text-input input {
    transition: all 100ms ease-in;
    width: 100%;
    max-width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 16px;
    border: solid #77B255 2px;
    border-radius: 5px;
} .text-input input:focus {
    transition: all 100ms ease-in;
    border-color: #8ec96d;
    box-shadow: 0 0 5px 0px #77B255;
    outline: 0;
}

.two-boxes {
    display: flex;
    justify-content: space-between;
    max-width: 72%;
}
.large-textbox {
    width: 70%;
}
.small-textbox {
    width: 15%;
}
.text-input .smallest-height {
    height: 45px;
    margin-bottom: 20px;
}

.checkbox-input {
    display: flex;
    flex-direction: row-reverse;
    width: 72%;
    justify-content: flex-end;
    align-items: center;
}
.checkbox-input label {
    user-select: none;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
} .checkbox-input label:hover,
.checkbox-input label:focus {
    color: #577e41;
}
.checkbox-input .checkbox-element {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 30px;
  margin: 0;
  position: relative;
  width: 50px;
}
.checkbox-input .checkbox-element::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}
.checkbox-input .checkbox-element,
.checkbox-input .checkbox-element::after {
  transition: all 100ms ease-out;
}
.checkbox-input .checkbox-element::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 22px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 22px;
}
.checkbox-input input[type=checkbox] {
  cursor: default;
}
.checkbox-input .checkbox-element:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}
.checkbox-input .checkbox-element:checked {
  background-color: #77B255;
}
.checkbox-input .checkbox-element:checked::after {
  background-color: #fff;
  left: 22px;
}
.checkbox-input :focus:not(.focus-visible) {
  outline: 0;
}
.checkbox-input .checkbox-element:checked:hover {
  background-color: #8ec96d;
}

.form-link {
    color: #77B255;
    font-size: 18px;
    margin-bottom: 40px;
} .form-link:hover,
.form-link:focus {
    color: #8ec96d;
    outline: 0;
}

.hidden {
    display: none;
}