@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

main {
    margin: 0 8vw 0 8vw;
}

#top-img {
    width: 100%;
    margin-top: 40px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-section {
    width: 70%;
    text-align: center;
}
.section-subtitle-light {
    font-size: 42px;
    font-weight: 300;
    color: #77B255;
}
.section-subtitle-bold {
    font-size: 42px;
    font-weight: 800;
    color: #77B255;
    margin: 40px;
}
.section-paragraph, .section-list {
    font-size: 26px;
    font-weight: 300;
    margin: 40px;
}
.section-list {
    list-style: none;
}
.section-list li {
    margin-bottom: 20px;
}

.generic-button {
    transition: all 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 70px;
    border: #77B255 solid 2px;
    margin: 8px;
    width: 320px;
    height: 120px;
    background-color: #fff;
    color: #60A640;
} .generic-button:hover {
    transition: all 100ms ease-in;
    background-color: #60A640;
    color: #D0FF00;
}

.widelist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.widelist-item {
    display: flex;
    align-items: center;
    margin: 50px;
}
.widelist-img {
    width: 100px;
    margin-right: 20px;
}
.widelist-label {
    font-size: 42px;
    font-weight: 800;
    color: #77B255;
}
.widelist-text-container {
    display: flex;
    flex-direction: column;
}
.widelist-small {
    font-weight: 300;
    font-size: 26px;
}

.generic-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

label {
    cursor: pointer;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin-right: 4%;
} .text-input input {
    transition: all 100ms ease-in;
    width: 100%;
    max-width: 100%;
    height: 60px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 16px;
    border: solid #77B255 2px;
    border-radius: 5px;
} .text-input input:focus {
    transition: all 100ms ease-in;
    border-color: #8ec96d;
    box-shadow: 0 0 5px 0px #77B255;
    outline: 0;
}

.edit-button img {
    width: 40px;
}
.edit-button {
    transition: all 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    border: #77B255 solid 2px;
    margin: 8px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: #60A640;
} .edit-button:hover {
    transition: all 100ms ease-in;
    border: #D0FF00 solid 2px;
    background-color: #D0FF00;
}

.form-submit {
    width: 400px;
    height: 60px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 4%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #60A640;
    color: #fff;
} .form-submit:hover {
    background-color: #77B255;
}

#delete {
    border: #bb0000 solid 2px;
    color: #bb0000;
} #delete:hover {
    background-color: #bb0000;
    color: #fff;
}
