{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}e-Saving{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'esaving/lib/bootstrap/dist/css/bootstrap.min.css' %}" />
    
    <link rel="stylesheet" href="{% static 'esaving/css/site.css' %}" />
    <link rel="stylesheet" href="{% static 'esaving/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'esaving/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'esaving/css/responsive.css' %}" />
    
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        </header>

    <div class="container">
        <main role="main" class="pb-3">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer class="border-top footer text-muted">
        </footer>

    <script src="{% static 'esaving/lib/jquery/dist/jquery.min.js' %}"></script>
    
    <script src="{% static 'esaving/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'esaving/js/hamburguer.js' %}"></script>
    <script src="{% static 'esaving/js/headerUserDiv.js' %}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>