{% extends "base.html" %}
{% block title %} Configurações {% endblock %}
{% block css %}{% endblock %}
{% block main %}
<form action="#" method="post">
      <input type="text" id="name" name="name" class="form-textbox">
      <input type="text" id="cpf" name="cpf" class="form-textbox">
      <input type="email" id="email" name="email" class="form-textbox">
      <input type="text" id="tel" name="tel" class="form-textbox">
      <input type="password" id="password" name="password" class="form-textbox">
      <input type="text" id="cep" name="cep" class="form-textbox">
      <!-- input anexo -->
       <input type="submit" value="Salvar">
</form>
{% endblock %}
