{% extends "base.html" %}
{% block title %} Torne-se Parceiro {% endblock %}
{% block css %}{% endblock %}
{% block main %}
<section class="content-section">
    <p class="section-paragraph">
        Sabia que se você possui um estabelecimento comercial, você pode cadastrar o seu negócio para ser um ponto de coleta também?
    </p>
    <p class="section-paragraph">
        Confira abaixo alguns motivos para você ser um parceiro da E-Saving!
    </p>
    <h2 class="section-subtitle-bold">Vantagens para o seu negócio</h2>
    <p class="section-paragraph">
        Ao ser parceiro da E-Saving, o seu estabelecimento aparecerá para os usuários no mapa de pontos de coleta. Dessa forma, o seu negócio ganha visibilidade enquanto ajuda o meio ambiente.
    </p>
    <h2 class="section-subtitle-bold">Retorno Monetário</h2>
    <p class="section-paragraph">
        Além da visibilidade, ao se tornar um parceiro você também receberá uma comissão pelos itens que coletar no seu estabelecimento.
    </p>
</section>
<section>
    <div class="generic-button">
        <a href='/singup'> Torne-se parceiro </a>
    </div>
</section>
{% endblock %}